<html>
<head>
    <title>顧客リストアップロード</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data" action="/upload">
    <input type="file" name="upload_file" 　accept=".xlsx,.csv,.txt">
    <button type="submit">ファイルをアップロード</button>
</form>
<br>
<form method="GET" action="/fuma/fetch">
    <button type="submit">FUMA登録</button>
</form>
<br>
<form method="GET" action="/baseconnect/fetch">
    <button type="submit">Baseconnect登録</button>
</form>
</body>
</html>