<html>
<head>
  <title>顧客リストアップロード</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data" action="/upload">
    <input type="file" name="upload_file"　accept=".xlsx,.csv,.txt">
    <button type="submit">ファイルをアップロード</button>
</form>
</body>
</html>